.odd-numbered {
    background-color: lightpink;
    font-family:
        Verdana,
        DejaVu Sans,
        sans-serif;
}

.font-size-adjust {
    font-size: 24px;
}

#second-element {
    color: blue;
    font-size: 36px;
}

#fourth-element {
    background-color: springgreen;
    font-size: 24px;
    font-weight: bold;
}
